= render "shared/main-header"
.mypage
  .mypage__contents.clearfix
    = render "shared/mypage-left-side"
    .mypage__contents__main
      .mypage-user-info
        .mypage-user-info__content
          .mypage-user-info__content--icon
            = image_tag 'member_photo_noimage_thumb.png', alt: 'logo', class: 'user-logo'
          .mypage-user-info__content--detail
            %div ジョシュ
            .mypage-number
              %span
                評価
                %span.bold 0
              %span
                出品数
                %span.bold 0

      .mypage-tab-container-notification-todo
        %ul.mypage-tabs
          %li.active
            %h3
              %a{"data-toggle" => "tab", href: "#"}
                お知らせ
          %li
            %h3
              %a{"data-toggle" => "tab", href: "#"}
                やることリスト
        .tab-content

      .mypage-tab-container
        .mypage-tab-head
          購入した商品
        %ul.mypage-tabs
          %li.active
            %h3
              %a{"data-toggle" => "tab", href: "#"}
                取引中
          %li
            %h3
              %a{"data-toggle" => "tab", href: "#"}
                過去の取引
        .tab-content

.appBanner
  .inner
    %h2.inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text
      今すぐ無料ダウンロード
    .inner__icon
      = link_to "#" do
        = image_tag 'AppStore.png', alt: 'AppStore', class: 'aBtn'
      = link_to "#" do
        = image_tag 'GooglePlayBadge.png', alt: 'GooglePlay', class: 'gBtn'
= render "shared/main-footer"
  

