.pcHeader
  .headerInner

    -# メインヘッダー
    .mainHeader
      %h1.icon
        = link_to root_path do
          = image_tag 'logo.png', alt: 'logo',  class: 'logo'
      .searchBox
        %form{action: ""}
          %input{name: "utf8", type: "hidden"}/
          %input.searchBox--input{id: "searchInput", name: "key", placeholder: "キーワードから探す"}/
          %button{type: "submit"}/
          .searchBox__icon
            = image_tag 'icon/icon-search.png', alt: 'icon-search', size: "20x20", class: 'icon-search'
        %input{type: "hidden", name: "", value: ""}/
      %ul.resultLists




    -# ナビゲーションバー
    .nav
      %ul.listsLeft
        %li.listsLeft__item.listsLeft__item--first
          = link_to category_index_path, id: "catBtn", class: "header_link" do
            %i.fas.fa-bars{style: "color: #3CCACE; padding-right:2px;"}
            カテゴリーから探す
          .tree.displayNone

            %ul#menu-content
              - @main_categories.each do |category|
                %li.first-content
                  = link_to category_path(category.id) do
                    .first-name
                      = category.name
                    %ul.second-contents
                      - category.children.each do |child|
                        %li.second-content
                          = link_to category_path(child.id) do
                            .second-name
                              = child.name
                            %ul.third-contents
                              - child.children.each do |gchild|
                                %li.third-content
                                  = link_to category_path(gchild.id)  do
                                    .third-name
                                      = gchild.name
                                
      %ul.listsRight
        -if user_signed_in?
          %li.listsRight__item.listsRight__item--login
            = link_to destroy_user_session_path, method: :delete,data: {confirm: "ログアウトしますか？"}, class: "header_link" do
              ログアウト
          %li.listsRight__item.listsRight__item--new
            = link_to mypage_path, class: "header_link" do
              マイページ
            - if @shipping_item.present?
              .header-badge
                = @shipping_item.length
        -else
          %li.listsRight__item.listsRight__item--login
            = link_to new_user_session_path, class: "header_link" do
              ログイン
          %li.listsRight__item.listsRight__item--new
            = link_to new_user_registration_path, class: "header_link" do
              新規会員登録