.mypage__contents__left
  .mypage-nav
    %ul.mypage-nav-list
      -# リンク指定
      %li
        = link_to(mypage_path ,class: "link")  do
          マイページ
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
      %li     
        =link_to(new_sale_path, class: "link")  do
          出品する
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
      %li     
        =link_to(listings_listing_path, class: "link")  do
          出品した商品 - 出品中
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
      %li     
        =link_to(listings_in_progress_path, class: "link")  do
          出品した商品 - 取引中
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
      %li     
        =link_to(listings_completed_path, class: "link")  do
          出品した商品 - 売却済み
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')      
      %li
        =link_to(listings_purchase_path, class: "link")  do
          購入した商品 - 取引中
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
      %li
        =link_to(listings_purchased_path, class: "link")  do
          購入した商品 - 過去の取引
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
      
    %h3.mypage-nav-head
      設定
    %ul.mypage-nav-list
      %li
        =link_to("#", class: "link") do
          発送元・お届け先住所
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
      %li
        =link_to(cards_path, class: "link")  do
          支払い方法
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
      %li
        =link_to("#", class: "link")  do
          メール/パスワード
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
      %li
        =link_to("#", class: "link")  do
          本人情報
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
      %li
        =link_to(logout_path, class: "link")  do
          ログアウト
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
          