.mypage__contents__left
  .mypage-nav
    %ul.mypage-nav-list
      -# リンク指定
      %li
        .mypage-nav-list-item
          =link_to("マイページ" ,mypage_path ,class: "link") 
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
      %li     
        .mypage-nav-list-item
          =link_to("出品する", new_sale_path, class: "link") 
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
      %li     
        .mypage-nav-list-item
          =link_to("出品した商品 - 出品中", "#", class: "link") 
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
      %li     
        .mypage-nav-list-item
          =link_to("出品した商品 - 取引中", "#", class: "link") 
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
      %li     
        .mypage-nav-list-item
          =link_to("出品した商品 - 売却済み", "#", class: "link") 
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')      
      %li
        .mypage-nav-list-item
          =link_to("購入した商品 - 取引中", "#", class: "link") 
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
      %li
        .mypage-nav-list-item
          =link_to("購入した商品 - 過去の取引", "#", class: "link") 
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
      
    %h3.mypage-nav-head
      設定
    %ul.mypage-nav-list
      %li
        .mypage-nav-list-item
          =link_to("発送元・お届け先住所変更", "#", class: "link") 
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
      %li
        .mypage-nav-list-item
          =link_to("支払い方法", cards_path, class: "link") 
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
      %li
        .mypage-nav-list-item
          =link_to("メール/パスワード", "#", class: "link") 
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
      %li
        .mypage-nav-list-item
          =link_to("本人情報", "#", class: "link") 
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
      %li
        .mypage-nav-list-item
          =link_to("ログアウト", logout_path, class: "link") 
          %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
          