.mypage__contents__left
  .mypage-nav
    %ul.mypage-nav-list
      %li
        %a.mypage-nav-list-item{href: "#"}
          マイページ
          %i.icon-chevron-right
            = icon('fas', 'chevron-right', class: 'icon')
      %li
        %a.mypage-nav-list-item{href: "#"}
          お知らせ
          %i.icon-chevron-right
            = icon('fas', 'chevron-right', class: 'icon')
      %li
        %a.mypage-nav-list-item{href: "#"}
          やることリスト
          %i.icon-chevron-right
            = icon('fas', 'chevron-right', class: 'icon')
      %li
        %a.mypage-nav-list-item{href: "#"}
          出品する
          %i.icon-chevron-right
            = icon('fas', 'chevron-right', class: 'icon')
      %li
        %a.mypage-nav-list-item{href: "#"}
          出品した商品 - 出品中
          %i.icon-chevron-right
            = icon('fas', 'chevron-right', class: 'icon')
      %li
        %a.mypage-nav-list-item{href: "#"}
          出品した商品 - 取引中
          %i.icon-chevron-right
            = icon('fas', 'chevron-right', class: 'icon')
      %li
        %a.mypage-nav-list-item{href: "#"}
          出品した商品 - 売却済み
          %i.icon-chevron-right
            = icon('fas', 'chevron-right', class: 'icon')
      %li
        %a.mypage-nav-list-item{href: "#"}
          購入した商品 - 取引中
          %i.icon-chevron-right
            = icon('fas', 'chevron-right', class: 'icon')
      %li
        %a.mypage-nav-list-item{href: "#"}
          購入した商品 - 過去の取引
          %i.icon-chevron-right
            = icon('fas', 'chevron-right', class: 'icon')
    %h3.mypage-nav-head
      設定
    %ul.mypage-nav-list
      %li
        %a.mypage-nav-list-item{href: "#"}
          プロフィール
          %i.icon-chevron-right
            = icon('fas', 'chevron-right', class: 'icon')
      %li
        %a.mypage-nav-list-item{href: "#"}
          発送元・お届け先住所変更
          %i.icon-chevron-right
            = icon('fas', 'chevron-right', class: 'icon')
      %li
        %a.mypage-nav-list-item{href: "#"}
          支払い方法
          %i.icon-chevron-right
            = icon('fas', 'chevron-right', class: 'icon')
      %li
        %a.mypage-nav-list-item{href: "#"}
          メール/パスワード
          %i.icon-chevron-right
            = icon('fas', 'chevron-right', class: 'icon')
      %li
        %a.mypage-nav-list-item{href: "#"}
          本人情報
          %i.icon-chevron-right
            = icon('fas', 'chevron-right', class: 'icon')
      %li
        %a.mypage-nav-list-item{href: "#"}
          ログアウト
          %i.icon-chevron-right
            = icon('fas', 'chevron-right', class: 'icon')