= render "shared/user-header"
.order-section
  .contents
    .page-title 
      %h2 購入内容の確認
    .item-contents
      .item-photo
        = image_tag @sale.photos[0].image.url,size: '188x188', class: 'item-photo__image'
      .item-detail
        %p.item-detail__name
          = @sale.name
        %p.item-detail__price
          %span.item-detail__price--yen_mark
            ¥
            %span
            = @sale.price
          %span.item-detail__price--tax
            (税込)送料込み
    .buy-contents
      = form_with(model: [@sale, @order], local: true )do |f|
        .field
          .field__price-label
            = f.label :支払い金額
          .field__item-price
            %span.item-detail__price--yen_mark
              ¥
            = @sale.price
        .field
          .field__credit-label
            = f.label :支払い方法
          - if @card_infomation.present?
            .field__credit-information
              %span.field__credit-information--label
                カード番号
              = "**** **** **** " + @card_infomation.last4
              %br
              %span.field__credit-information--label
                有効期限 月/年
              - exp_month = @card_infomation.exp_month.to_s
              - exp_year = @card_infomation.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
          - else
            .field__credit-registration
              = link_to  new_card_path do
                クレジットカードの登録
        .field
          .field__send-label
            = f.label :発送先
          .field__send-address
            = current_user.address.postal_code
            = current_user.address.prefecture.name
            = current_user.address.city
            = current_user.address.block_number
            = current_user.address.building
            %br
           
        .order-btn
          - if @card_infomation.present?
            = f.submit "購入する", class: 'order-btn--active'
          - else
            .order-btn--inactive
              = f.label :クレジットカードを登録してください
= render "shared/appBanner"
= render "shared/main-footer"