-# = render "shared/main-header"
-# .mypage
-#   .mypage__contents.clearfix
-#     = render "shared/mypage-left-side"
-#     .mypage__contents__main
-#       .credit-card
-#         .credit-card__header
-#           支払い方法
-#         .credit-card__content
-#           .select-card
-#             %h3
-#               クレジットカード一覧
-#           .add-card
-#             .add-card__click
-#               =link_to("クレジットカードを追加する", mypages_new_path, class: "link") 
-# = render "shared/appBanner"
-# = render "shared/main-footer"

= render "shared/main-header"
.mypage
  .mypage__contents.clearfix
    = render "shared/mypage-left-side"
    .mypage__contents__main
      .mypage-user-info
        .mypage-user-info__content
          .mypage-user-info__content--icon
            = image_tag 'member_photo_noimage_thumb.png', alt: 'logo', class: 'user-logo'
          .mypage-user-info__content--detail
            %div ジョシュ
            .mypage-number
              %span
                評価
                %span.bold 0
              %span
                出品数
                %span.bold 0

      .mypage-tab-container-notification-todo
        %ul.mypage-tabs
          %li.active
            %h3
              =link_to("お知らせ", root_path, class: "link")           
          %li
            %h3
              クレジットカード一覧
          .add-card
            .add-card__click
              =link_to("クレジットカードを追加する", "#", class: "link") 

      .mypage-tab-container
        .mypage-tab-head
          購入した商品
        %ul.mypage-tabs
          %li.active
            %h3
              =link_to("取引中", root_path, class: "link")
          %li
            %h3
              =link_to("過去の取引", root_path, class: "link")
        .tab-content

= render "shared/appBanner"
= render "shared/main-footer"





