= render "shared/main-header"
.mypage
  .mypage__contents.clearfix
    = render "shared/mypage-left-side"
    .mypage__contents__main      
      .log-out  
        .log-out__form
          .log-out__form__click
            =link_to("ログアウト", destroy_user_session_path, class: "log-out-link") 

.appBanner
  .inner
    %h2.inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text
      今すぐ無料ダウンロード
    .inner__icon
      = link_to "#" do
        = image_tag 'AppStore.png', alt: 'AppStore', class: 'aBtn'
      = link_to "#" do
        = image_tag 'GooglePlayBadge.png', alt: 'GooglePlay', class: 'gBtn'
= render "shared/main-footer"
