.edit-sale-page
  = render "shared/user-header"
  .container
    %h2 商品の情報を入力
    = form_with model: @sale, local: true do |f| 
      .image-box
        .previews
          - if @sale.persisted?
            -# - @sale.photos.each_with_index do |photo, i|
            -#   = image_tag photo.image.url, data: { index: i }, width: "100", height: '100'
          = f.fields_for :photos do |image|
            .js-file_group{"data-index" => "#{image.index}"}
              = image.file_field :src, class: 'js-file'
              = image_tag @sale.photos[image.index].image.url, data: { index: image.index }, width: "100", height: '100', display:'block'
              %label{for:"sale_photos_attributes_#{image.index}_src"} 編集
              %span.js-remove 削除
            - if @sale.persisted?
              = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'

        -# 新規画像の追加 
        - if @sale.persisted?
          .js-file_group{"data-index" => "#{@sale.photos.count}"}
            = file_field_tag :image, name: 'sale[photos_attributes][0][image]', id: "sale_photos_attributes_0_image", class: "js-file", 'data-image': 0
            -# 編集は画像を追加したら表示されるようにする
            -# %label{for:"sale_photos_attributes_0_image"} 編集
            -# 削除は画像を追加したら表示されるようにする
            .js-remove 削除

            -# 新規追加のIDを取得するにはどうしたらよいか
            %label.dropzone-box{for:"sale_photos_attributes_0_image"} ここをクリックしてください

      .sale-content
        .main-content
          .main-form-group
            = label_tag :name do
              商品名
              %span.form-require  必須
            = f.text_field :name, placeholder: "商品名(必須40文字まで)", class: "input-default", id: 'name'
          .main-form-group
            = label_tag :detail do
              %label 商品の説明
              %span.form-require  必須
            = f.text_area :detail, class: "textarea-default", rows: '5', id: 'detail_form', placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'
      .sale-content
        %h3 商品の詳細
        .sale-content__form
          .form-group
            %label カテゴリー
            %span.form-require  必須
            %select#category-first{name: "sale[category_ids][]"}
            %select#category-second{name: "sale[category_ids][]"}
            %select#category-third{name: "sale[category_ids][]"}
          .form-group
            %label 商品の状態
            %span.form-require  必須
            = f.collection_select :condition_id, Condition.all, :id, :type
      .sale-content
        %h3 配送について
        .sale-content__form
          .form-group
            %label 配送料の負担
            %span.form-require  必須
            = f.collection_select :delivery_payer_id, DeliveryPayer.all, :id, :type
          .form-group
            %label 配送元の地域
            %span.form-require  必須
            = f.collection_select :prefecture_id, Prefecture.all, :id, :name
          .form-group
            %label 配送までの日数
            %span.form-require  必須
            = f.collection_select :prep_days_id, PrepDays.all, :id, :type
      .sale-content
        %h3 価格（¥300〜9,999,999）
        .sale-content__form
          .form-group
            .input-box
              .input-box__left
                %label 販売価格
                %span.form-require  必須
              .input-box__right
                ¥
                = f.text_field :price, type: "number", placeholder: '例）300 ', id: "price_form", min: "300", max: "9999999"
      .sell-btn-box
        = f.submit "変更する", class: "sell-btn", id: "submit-sale"
        = link_to "キャンセル", "#", class: "back-btn"
  = render "shared/user-footer"
