= render "shared/main-header"

-# メイン
.main
  %section.mainVisual
    .content
      %h2.content__subtitle
        %br/
        人生を変えるフリマアプリ
      %p.content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
      .content__btn
        .aBtn
          = link_to "#" do
            = image_tag 'AppStore.png', alt: 'AppStore', class: 'AppStore'
        .gBtn
          = link_to "#" do
            = image_tag 'GooglePlayBadge.png', alt: 'GooglePlay', class: 'google-play'
    .picture

  .topIntroduction
    %h2.subtitle
      FURIMAが選ばれる理由
    %ul.lists
      %li.list
        .list__pict
          %span.number 1
          = image_tag 'pict/pict-reason-01.jpg', alt: 'pict-reason-01', size: "236x236",class: 'pict-reason-01'
        %h3.list__text
          %span
            3分
          ですぐに出品
        %p.list__descroptioin
          スマホで入力するだけで簡単に出品できる

      %li.list
        .list__pict
          %span.number
            2
          = image_tag 'pict/pict-reason-02.jpg', alt: 'pict-reason-02', size: "236x236", class: 'pict-reason-02'
        %h3.list__text
          %span
            シンプル
          で使いやすい
        %p.list__descroptioin
          めんどくさい入力は必要なく、検索も購入もスムーズ！

      %li.list.list--last
        .list__pict
          %span.number
            3
          = image_tag 'pict/pict-reason-03.jpg', alt: 'pict-reason-03', size: "236x236",class: 'pict-reason-02'
        %h3.list__text
          手数料
          %span
            業界最安          
        %p.list__descroptioin
          最大3%でお得に出品&購入!

  %section.topMiddleDL
    .topMiddleDL__inner
      %h2.subtitle
        会員数日本一位
      %p.text
        FURIMAは、フリマアプリで最も人気
        %br/
        出品・購入回数も業界最多です!
        %br/
        ほしかったあの商品に出会えるかもしれません。
        %br/
      .btn
        = link_to "#" do
          = image_tag 'AppStore.png', alt: 'AppStore', class: 'aBtn'
        = link_to "#" do
          = image_tag 'GooglePlayBadge.png', alt: 'GooglePlay', class: 'gBtn'

  %section.topKeyFeatures
    %h2.head
      "FURIMAの特徴"
    .items
      %section.item
        %figure.item__img
          = image_tag 'icon/icon-01.png', alt: 'icon-01', size: "108.95x167.7", class: 'icon-01'
        %h3.item__subtitle
          簡単に売り買いできる
        %p.item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能!

      %section.item
        %figure.item__img
          = image_tag 'icon/icon-03.png', alt: 'icon-0', size: "108.95x167.7", class: 'icon-03'
        %h3.item__subtitle
          売上金は即日振込みに対応
        %p.item__detail
          午前9時までに振込をご依頼いただければ、翌日に指定の口座に入金いたします!

      %section.item
        %figure.item__img
          = image_tag 'icon/icon-04.png', alt: 'icon-04', size: "108.95x167.7", class: 'icon-04'
        %h3.item__subtitle
          様々な支払いに対応
        %p.item__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  %section.pickupContainer
    %h2.head
      ピックアップカテゴリー
    .productBox
      .productHead
        = link_to "#" do
          %h3.title
            新規投稿商品
      .productLists
        .sale-items
          = render partial: "shared/sale", collection: @sales
       

  %section.pickupContainer
    %h2.head
      ピックアップカテゴリー
    .productBox
      .productHead
        = link_to "#" do
          %h3.title
            アーカイバ
      .productLists
        .sale-items
          = render partial: "shared/sale", collection: @sales

= render "shared/appBanner"

= render "shared/main-footer"