.pcHeader
  .headerInner
    .mainHeader
      %h1.icon
        = link_to "#" do
          = image_tag 'logo.png', alt: 'logo',  class: 'logo'
      .searchBox
        %form{action: ""}
          %input{name: "utf8", type: "hidden"}/
          %input.searchBox--input{id: "searchInput", name: "key", placeholder: "キーワードから探す"}/
          %button{type: "submit"}/
          .searchBox__icon
            %i.fas.fa-search
            -# = link_to "#" do
            -#   = image_tag 'icon-search.png', alt: 'icon-search', class: 'icon-search'
        %input{type: "hidden", name: "authenticity_token", value: ""}/
      %ul.resultLists


    .nav
      %ul.listsLeft
        %li.listsLeft__item.listsLeft__item--first
          = link_to "#", id: "catBtn" do
            カテゴリー
          .tree.displayNone
            %ul.categoryTree
              %li.categoryTree--item
                = link_to "#", id: 1  do
                  レディース
              %li.categoryTree--item
                = link_to "#", id: 2 do
                  メンズ
              %li.categoryTree--item
                = link_to "#", id: 3 do
                  ベビー・キッズ
              %li.categoryTree--item
                = link_to "#", id: 4 do
                  インテリア・住まい・小物
              %li.categoryTree--item
                = link_to "#", id: 5 do
                  本・音楽・ゲーム
              %li.categoryTree--item
                = link_to "#", id: 6 do
                  おもちゃ・ホビー・グッズ
              %li.categoryTree--item
                = link_to "#", id: 7 do
                  コスメ・香水・美容
              %li.categoryTree--item
                = link_to "#", id: 8 do
                  家電・スマホ・カメラ
              %li.categoryTree--item
                = link_to "#", id: 9 do
                  スポーツ・レジャー
              %li.categoryTree--item
                = link_to "#", id: 10 do
                  ハンドメイド
              %li.categoryTree--item
                = link_to "#", id: 11 do
                  チケット
              %li.categoryTree--item
                = link_to "#", id: 12 do
                  自転車・オートバイ
              %li.categoryTree--item
                = link_to "#", id: 13 do
                  その他

        %li.listsLeft__item
          = link_to "#", id: "brandBtn" do
            ブランド
          %ul.brandsPuldawn.displayNone
           

      %ul.listsRight
        %li.listsRight__item.listsRight__item--login
          = link_to "#" do
            ログイン
        %li.listsRight__item.listsRight__item--new
          = link_to "#" do
            新規会員登録

.main
  %section.mainVisual
    .content
      %h2.content__subtitle
        %br/
        人生を変えるフリマアプリ
      %p.content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
      .content__btn
        -# = link_to {"#", name: "aBtn"} do
        -#   = image_tag '', alt: 'App Store', class: 'app-store'
        -# = link_to {"#", name: "gBtn"} do
        -#   = image_tag '', alt: 'Google Play', class: 'google-play'
    .picture

  .topIntroduction
    %h2.subtitle
      "
      FURIMAが選ばれる理由
      "
    %ul.lists
      %li.list
        .list__pict
          %span.number 1
          -# = image_tag 'pict-reason-01.jpg', alt: 'pict-reason-01', class: 'pict-reason-01'
        %h3.list__text
          %span
            3分
          -# "
          ですぐに出品
          -# "
        %p.list__descroptioin
          スマホで入力するだけで簡単に出品できる
      %li.list
        .list__pict
          %span.number
            2
          -# = image_tag 'src', alt: '', class: ''
        %h3.list__text
          %span
            シンプル
          -# "
          で使いやすい
          -# "
        %p.list__descroptioin
          めんどくさい入力は必要なく、検索も購入もスムーズ！

      %li.list.list--last
        .list__pict
          %span.number
            3
          -# = image_tag 'src', alt: '', class: ''
        %h3.list__text
          -# "
          手数料
          -# "
          %span
            業界最安          
        %p.list__descroptioin
          最大3%でお得に出品&購入!

  %section.topMiddleDL
    .topMiddleDL__inner
      %h2.subtitle
        会員数日本一位
      %p.text
        "
        FURIMAは、フリマアプリで最も人気
        "
        %br/
        "
        出品・購入回数も業界最多です!
        "
        %br/
        "
        ほしかったあの商品に出会えるかもしれません。
        "
        %br/
      .btn
        = link_to "#" do
          -# = image_tag 'src', alt: '', class: 'aBtn'
        = link_to "#" do
          -# = image_tag 'src', alt: '', class: 'gBtn'

  %section.topKeyFeatures
    %h2.head
      "FURIMAの特徴"
    .items
      %section.item
        %figure.ite__img
        %h3.item__subtitle
          簡単に売り買いできる
        %p.item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能!

      %section.item
        %figure.item__img
        %h3.item__subtitle
          売上金は即日振込みに対応
        %p.item__detail
          午前9時までに振込をご依頼いただければ、翌日に指定の口座に入金いたします!

      %section.item
        %figure.item__img
        %h3.item__subtitle
          様々な支払いに対応
        %p.item__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  %section.pickupContainer
    %h2.head
      ピックアップカテゴリー
    .productBox
      .productHead
        %a{href: "#"}
          %h3.title
            新規投稿商品
      .productLists
        .productList
          %a{href: "/products/3"}
            %figure.productList--img
              -# = image_tag 'src', alt: '', class: 'gBtn'
            .productList--body
              %h3.name
                product3
              .details
                %ul
                  %li
                    30000円
                  %li
                    %i.fa.fa-star.LikeIcon
                      " 0
                      "
                %p
                  (税込)
        .productList
          %a{href: "/products/2"}
            %figure.productList--img
              -# = image_tag 'src', alt: '', class: 'gBtn'
            .productList--body
              %h3.name
                product2
              .details
                %ul
                  %li
                    20000円
                  %li
                    %i.fa.fa-star.LikeIcon
                      " 0
                      "
                %p
                  (税込)
                  
        .productList
          %a{href: "/products/1"}
            %figure.productList--img
              -# = image_tag 'src', alt: '', class: 'gBtn'
            .productList--body
              %h3.name
                product1
              .details
                %ul
                  %li
                    10000円
                  %li
                    %i.fa.fa-star.LikeIcon
                      " 0
                      "
                %p
                  (税込)

  %section.pickupContainer
    %h2.head
      ピックアップカテゴリー
    .productBox
      .productHead
        %a{href: "#"}
          %h3.title
            アーカイバ
      .productLists
        .productList
          %a{href: "/products/3"}
            %figure.productList--img
              -# = image_tag 'src', alt: '', class: 'gBtn'
            .productList--body
              %h3.name
                product3
              .details
                %ul
                  %li
                    30000円
                  %li
                    %i.fa.fa-star.LikeIcon
                      " 0
                      "
                %p
                  (税込)
        .productList
          %a{href: "/products/2"}
            %figure.productList--img
              -# = image_tag 'src', alt: '', class: 'gBtn'
            .productList--body
              %h3.name
                product2
              .details
                %ul
                  %li
                    20000円
                  %li
                    %i.fa.fa-star.LikeIcon
                      " 0
                      "
                %p
                  (税込)
        .productList
          %a{href: "/products/1"}
            %figure.productList--img
              -# = image_tag 'src', alt: '', class: 'gBtn'
            .productList--body
              %h3.name
                product1
              .details
                %ul
                  %li
                    10000円
                  %li
                    %i.fa.fa-star.LikeIcon
                      " 0
                      "
                %p
                  (税込)


.appBanner
  .inner
    %h2.inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text
      今すぐ無料ダウンロード
    .inner__icon
      = link_to "#" do
        -# = image_tag '', alt: 'App Store', class: 'app-store'
      = link_to "#" do
        -# = image_tag '', alt: 'Google Play', class: 'google-play'


.footer
  %ul.contents
    %li.content
      %h2.content__head
        FURIMAについて
      %ul
        %li
          %a{href: "#"}
            会社概要（運営会社）
        %li
          %a{href: "#"}
            プライバシーポリシー
        %li
          %a{href: "#"}
            FURIMA利用規約
        %li
          %a{href: "#"}
            ポイントに関する特約

    %li.content
      %h2.content__head
        FURIMAを見る
      %ul
        %li
          %a{href: "#"}
            カテゴリー一覧
        %li
          %a{href: "#"}
            ブランド一覧

    %li.content
      %h2.content__head
        ヘルプ&ガイド
      %ul
        %li
          %a{href: "#"}
            FURIMAガイド
        %li
          %a{href: "#"}
            FURIMAロゴ利用ガイドライン
        %li
          %a{href: "#"}
            お知らせ

  .footer__logo
    = link_to "#" do
      = image_tag 'logo-white.png', alt: 'logo-white', class: 'logo-white'
  %p 
    © FURIMA

  .purchaseBtn
    %span.purchaseBtn__text
      出品する
    -# = image_tag 'icon-camera.png', alt: 'icon-camera', class: 'icon-camera'