= render "shared/main-header"
.sales-show
  .sales-show__contents
    .sales-show__contents__name
      = @sale.name
    .sales-show__contents__main.clearfix
      .sale-photo
        .bx-viewport
          %ul.bxslider
            - @sale.photos.each do |photo|
              %li
                = image_tag photo.image.url, class:"photo-image"  
        .custom-thumb
      .sale-detail-table
        %table
          %tr
            %th 出品者
            %td 
              = @sale.seller.nickname
          %tr
            %th カテゴリ
            %td 
              - @sale.categories.each_with_index do |category, i|
                = link_to category_path(category.id) do
                  .category_link
                    - if i != 0
                      %i.fas.fa-angle-right
                    .category_link__name
                      = category.name
          %tr
            %th 商品の状態
            %td 
              = @sale.status_i18n
          %tr
            %th 配送料の負担
            %td 
              = @sale.delivery_payer.type
          %tr
            %th 配送元地域
            %td 
              = @sale.prefecture.name
          %tr
            %th 発送日の目安
            %td 
              = @sale.prep_days.type

    .sales-show__contents__price-box
      %span.item-price
        %span ¥
        = @sale.price
      %span.item-tax
        (税込)
    .sales-show__contents__discription
      = @sale.detail
    - case @sale.status
    - when "on_sale"
      - if user_signed_in? && current_user.id == @sale.seller_id
        .sales-show__contents__edit
          = link_to('商品の編集', edit_sale_path, class: 'edit-btn')
        %span.or or
        .sales-show__contents__edit
          = link_to('この商品を削除する', sale_path(@sale.id), "data-method": :delete, class: 'edit-btn', data:{confirm: "本当に削除しますか？"})
      - elsif user_signed_in?
        .sales-show__contents__edit
          = link_to('購入画面に進む', new_sale_order_path(@sale.id),  class: 'edit-btn')
      - else
        .sales-show__contents__edit
          = link_to('サインインする', new_user_session_path, class: 'edit-btn')
    - when "shipping"
      - if user_signed_in? && current_user.id == @sale.seller_id
        .sales-show__contents__edit
          =link_to sale_shipped_path(@sale.id), method: :post, class: "edit-btn" do
            商品の発送をしたので、取引を完了する
      - elsif user_signed_in? && current_user.id == @sale.order.buyer_id
        商品を発送中です。商品を確認したら速やかに下のボタンを押してください。
        .sales-show__contents__inactive
          .edit-btn 
            商品受け取り完了
      - else 
        .sales-show__contents__inactive
          .edit-btn 
            = @sale.status_i18n
    - when "soldout"
      - if user_signed_in? && current_user.id == @sale.seller_id
        .sales-show__contents__inactive
          .edit-btn 
            取引は完了しました
      - elsif user_signed_in? && current_user.id == @sale.order.buyer_id
        .sales-show__contents__inactive
          .edit-btn 
            商品受け取り完了済み
      - else 
        .sales-show__contents__inactive
          .edit-btn 
            = @sale.status_i18n
  .prev_and_next
    .prev
      - if @prev_sale.present? 
        = link_to sale_path(@prev_sale), class: "link" do
          %i.fas.fa-angle-left
          = @prev_sale.name

    .next
      - if @next_sale.present?
        = link_to sale_path(@next_sale), class: "link"do
          = @next_sale.name
          %i.fas.fa-angle-right
= render "shared/appBanner"
= render "shared/main-footer"
