= render "shared/main-header"
.sales-show
  .sales-show__contents
    .sales-show__contents__name
      = @sale.name
    .sales-show__contents__main.clearfix
      .sale-photo
        .bx-viewport
          %ul.bxslider
            - @sale.photos.each do |photo|
              %li
                = image_tag photo.image.url, class:"photo-image"  
        .custom-thumb
      .sale-detail-table
        %table
          %tr
            %th 出品者
            %td 
              = @sale.seller.nickname
          %tr
            %th カテゴリ
            %td 
              - @sale.categories.each_with_index do |category, i|
                = link_to category_path(category.id) , class: "category_link" do
                  - if i != 0
                    %i.fas.fa-angle-right
                  = category.name
          %tr
            %th 商品の状態
            %td 
              = @sale.status_i18n
          %tr
            %th 配送料の負担
            %td 
              = @sale.delivery_payer.type
          %tr
            %th 配送元地域
            %td 
              = @sale.prefecture.name
          %tr
            %th 発送日の目安
            %td 
              = @sale.prep_days.type

    .sales-show__contents__price-box
      %span.item-price
        %span ¥
        = @sale.price
      %span.item-tax
        (税込)
    - if user_signed_in? && current_user.id == @sale.seller_id
      .sales-show__contents__discription
        = @sale.detail
      .sales-show__contents__edit
        = link_to('商品の編集', edit_sale_path, class: 'edit-btn')
      %span.or or
      .sales-show__contents__destroy
        = link_to('この商品を削除する', sale_path(@sale.id), "data-method": :delete, class: 'destroy-btn', data:{confirm: "本当に削除しますか？"})
    - elsif user_signed_in?
      .sales-show__contents__purchase
        = link_to('購入画面に進む', '#', class: 'purchase-btn')
      .sales-show__contents__discription
        = @sale.detail
    - else
      .sales-show__contents__discription
        = @sale.detail
= render "shared/appBanner"
= render "shared/main-footer"
